.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: unset;
  transition: border .3s;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f5f5f7 inset;
  box-shadow: 0 0 0 1000px #f5f5f7 inset;
}
